doctype html
html(lang='zh-CN' class='no-js')
   head
      //- 编码和渲染
      meta(charset='utf-8')
      //- SEO
      meta(name="keywords" content="")
      meta(name="description" content="")
      meta(name="author" content="")
      //- 编码和渲染
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='renderer' content='webkit')
      meta(name='apple-mobile-web-app-capable' content='yes')
      meta(name='apple-mobile-web-app-status-bar-style' content='black')
      meta(name='format-detection' content='telephone=no')
      meta(name='wap-font-scale' content='no')
      //- viewport
      meta(name='viewport' content='maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0')
      //- 图标
      link(rel='shortcut icon' href='/favicon.ico')
      //- 网页title
      title html5-boilerplate-jade

      //- 自行确定normalize or reset
      //前置js
      //- Modernizr检测浏览器对 CSS3 或 HTML5 功能支持情况
      script(src='js/lib/modernizr-2.8.3.min.js')
      //- prefix-free用于自动添加css前缀
      script(src='js/lib/prefixfree.min.js')
      <!--[if lt IE 8]>
      p
         | You are using an <strong>outdated</strong> browser.
         | Please <a href="http://browsehappy.com/">upgrade your browser</a>
         | to improve your experience.
      <![endif]-->
      link(rel='stylesheet' href='/')
   body
      //content
      p HELLO WORLD!
      //js
      //- CDN服务:cdn.bootcss.com
      script(src='//cdn.bootcss.com/jquery/1.12.0/jquery.min.js')
      script
         | window.jQuery || document.write('<script src="js/lib/jquery-1.12.0.min.js"><\/script>')
      //- 可选
      script(src='js/plugins/plugins.js')
      script(src='js/plugins/BrowserDetect.js')
      script(src='js/module/main.js')
      //- 自行确定数据统计